
$content-background-color: white;

@mixin border-style-util($color, $width: 1px) {
  border: $width solid $color;
}

@mixin no-border {
  border-width: 0px;
}

@mixin round-corner-box {
  border: 1px solid #cecece;
  border-radius: 0.3em;
  //-moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
}

.border-thin-black {
  @include border-style-util(black);
}

.td-align-right {
  padding-left: 10px;
  text-align: right;
}

.list-style-none {
  list-style: none;
}
