// Place all the styles related to the ZipCode controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "util_styles";

.zip-code-div {
  margin-bottom: 1px;
  padding: 4px;
}

.zip-code-area {
  padding-left: 20px;
  background: #ccddee;
  color: blue;
}

#city-state-div #city, #lat-long-div #latitude {
  margin-right: 10px;
}

#zip-code-query {
  background: #d3d3d3;
  color: blue;
  @include border-style-util(green);

  clear: both;
  margin: auto;
  margin-bottom: 5px;

  #result-summary {
    margin: 10px;
    font-size: 1.4em;
  }
}

.input-query-table {
  margin: 0px 0px 10px 20px;
}

.result-location-table {
  margin: 0px 0px 5px 20px;
}

#query-table {
  @include no-border;

  .td-compact {
    width: 10px;
    @include no-border;
  }

  .td-centered {
    text-align: left;

    @include no-border;

    label {
      padding-top: 2px;
    }
  }
}

.btn-zip-code {
    background: #90ee90;
}
