// Place all the styles related to the ZipCode controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border-thin-black {
  border: 1px solid black;
  color: #fafad2;
}

.zip-code-div {
  margin-bottom: 1px;
}

.zip-code-area {
  padding-left: 20px;
  background: #ccddee;
  color: blue;
}

.zip-code-inner {
  padding: 4px;
}

#zip-code-query {
  background: #ffdead;
  border: 1px solid green;
  clear: both;
  margin: auto;
  margin-bottom: 5px;
}

#zip-code-query-inner {
  margin-left: 8px;
}


#query-table .td-compact {
  width: 10px;
  border-width: 0px;
}
#query-table .td-centered {
  text-align: left;
  border-width: 0px;
}

#query-table .td-centered label {
  padding-top: 2px;
}

#query-list {
  list-style-type: none;
}

.btn-zip-code {
    background: #90ee90;
}

#query-table {
  border-width: 0px;
}
