// Place all the styles related to the ZipCode controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.zip-code-li {
  list-style-type: none;
}

.zip-code-area {
  padding-left: 20px;
  background: #ccddee;
  color: blue;
}

#zip-code-query {
  background: #ffdead;
  border: 1px solid green;
  clear: both;
  margin: auto;
  margin-bottom: 10px;
}

#query-list {
  list-style-type: none;
}

.btn-zip-code {
    background: #90ee90;
}
